.box{
    box-shadow: 1px 1px 20px 1px rgb(224, 224, 224);
    margin-top: 60px;
    
    border-radius: 5px;
    padding: 50px;


}
form {
    padding-top: 50px;
}

.text{
    color: #198754;
}

.btn{
    border-radius: 500px;
    
}
